.codebar {
  width: 600px;
  background: #202020;
  position: relative;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 0 15px;
  gap: 15px;
  border-bottom: 2px solid #333;
  background: #9b0bf4fa;
}

.item {
  display: flex;
  height: 50px;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.activeTab {
  background: #25252b;
  color: #9c36f4;
}

.editor {
  height: calc(100% - 70px);
  padding: 10px;
}

.ace_active-line {
  height: 100vh !important;
}
.editor
  .editor_html
  .ace_scroller
  .ace_content
  .ace_layer
  .ace-monokai
  .ace_marker-layer
  .ace_active-line {
  background: #272822 !important;
}
